/* Sticky footer */

html,
body {
    height: 100%;
}
/* Wrapper for page content to push down footer */

#wrap {
    padding-top: 60px;
}

/* Long names no longer breaks the layout, they're just hidden :D */

.fb-friend a p {
    height: 20px;
    overflow: hidden;
}
.profileImage img:hover {
    cursor: pointer;
}

#search-wrapper {
    margin:0 0 20px 0;
}

.bubble {display: none}

.profile 
{
    min-height: 355px;
    display: inline-block;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

#friendList img.img-responsive {
    width: 100%;
}

.dropdown-menu a {
    cursor:pointer;
}

#search {
    width: 100%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }